<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="/funcionarios" routerLink="/funcionarios" class="nav-link text-secondary">Funcionarios</a>
    </li>
      <li class="nav-item">
        <a href="/docentes" routerLink="/docentes" class="nav-link text-secondary">Docentes</a>
    </li>
      <li class="nav-item">
        <a href="/estudiantes" routerLink="/estudiantes" class="nav-link text-secondary">Estudiantes</a>
    </li>
      <li class="nav-item">
        <a href="/instituciones" routerLink="/instituciones" class="nav-link text-secondary">Instituciones educativas</a>
    </li>
    </ul>
  </header>