<div class="container mt-4">
    <h2>Agregar estudiantes</h2>
    <form (ngSubmit)="onSubmit()" #funcionarioForm="ngForm">
      <div class="mb-3">
        <label for="cedula" class="form-label">Cedula</label>
        <input type="text" id="cedula" class="form-control" required [(ngModel)]="crearEstudianteDTO.cedula" name="cedula" />
      </div>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" id="nombre" class="form-control" required [(ngModel)]="crearEstudianteDTO.nombre" name="nombre" />
      </div>
      <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="text" id="apellido" class="form-control" required [(ngModel)]="crearEstudianteDTO.apellido" name="apellido" />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Correo electronico</label>
        <input type="text" id="email" class="form-control" required [(ngModel)]="crearEstudianteDTO.email" name="email" />
      </div>
      <div class="mb-3">
        <label for="telefono" class="form-label">Sede</label>
        <input type="text" id="telefono" class="form-control" required [(ngModel)]="crearEstudianteDTO.telefono" name="telefono" />
      </div>
      <div class="mb-3">
        <label for="grado" class="form-label">Función</label>
        <input type="text" id="grado" class="form-control" required [(ngModel)]="crearEstudianteDTO.grado" name="grado" />
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!funcionarioForm.form.valid">Agregar</button>
    </form>
    <div class="container mt-4">
      <h2>Lista de Docentes</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Código</th>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Grado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of estudiantes">
            <td>{{ item.codigo }}</td>
            <td>{{ item.cedula }}</td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.apellido }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.telefono }}</td>
            <td>{{ item.grado }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  